@model AllQuestionsViewModel

@{
    ViewData["Title"] = "All questions";
}

@if (Model.User == null)
{
    // No user with that name
    <h2>Username @ViewData["UserProvided"] does not exist!</h2>
}

else
{
    <p>All questions by: @Model.User.NickName</p>

    @foreach (var question in Model.AllQuestions)
    {
        <p>@question.Title</p>
    }
}